@charset "utf-8";
/* CSS Document */

.row{
    width: 100%;
    margin: 0 !important;
}

.imgBackground{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/baby 3.jpg");
    background-position: center 0px;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.box {
    border: solid 1px #000000;
    border-radius: 30px;
    background: rgba(205, 214, 219, 0.3);
    padding: 25px!important;
    margin-bottom: 15px;
}

.box h4{
    text-align: center;
    padding: 30px 0px;
}

.btn {
    border-radius: 15px;
    background-color: #fff9;
}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .box{
        margin: 30px 10px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .box{
        margin: 30px 10px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .box{
        margin: 30px 10px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .box{
        margin: 50px 20px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .box{
        margin: 50px 20px;
    }
}