@charset "utf-8";

.row{
    width: 100%;
    margin: 0 !important;
}

.imgBackground{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/baby 1.jpg");
    background-position: center 0px;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.box {
    border: solid 1px #000000;
    border-radius: 30px;
    background: rgba(205, 214, 219, 0.3);
}

.box h4{
    text-align: center;
    padding: 30px 0px;
}

.box-p{
    padding-bottom: 15px;
}

.list{
    background: rgba(205, 214, 219, 0.3);
    border: solid 1px #000000;
}

.list-left{
    text-align: center;
}

.boxReg{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.boxReg a{
    border: solid 1px #000000;
    padding: 7px;
    border-radius: 15px;
    background-color: #fff9;
    color: black!important;
    text-decoration: none !important;
}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .box{
        margin: 30px 10px;
    }
    .title h3{
        font-size: 25px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .box{
        margin: 30px 10px;
    }
    .title h3{
        font-size: 25px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .box{
        margin: 30px 10px;
    }
    .title h3{
        font-size: 35px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .box{
        margin: 50px 20px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .box{
        margin: 50px 20px;
    }
}