@charset "utf-8";

.row{
    width: 100%;
    margin: 0 !important;
}

.title{
    padding-top: 50px;
    text-align: center;
}

.text-block{
    padding: 10px 0px 50px;
}

.lineDown{
    border-top: solid 1px #000000;
    padding: 20px 0px;
}

.text-c-2019{
    text-align: center;
}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .title h3{
        font-size: 25px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .title h3{
        font-size: 25px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .title h3{
        font-size: 35px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}