@charset "utf-8";

.top{
    background-color: lightgray;
}

nav{
    display: none;
}

.logo a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: black!important;
    text-decoration: none !important;
}

.menu {
    margin: 0 auto;
}

.signIn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.signIn a{
    color: black !important;
    text-decoration: none !important;
    transition: color 0.3s ease-in-out;
}

.signIn a:hover{
    color: #ab8315 !important;
}

.signIn p:first-of-type{
    white-space: pre;
}



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .logo a{
        margin-left: 10px;
    }

    .signIn{
        margin-right: 20px;
    }
}